<div class="container mt-5 pt-5">
    <table class="table">
    <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">User id</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts; index as i;">
    <th scope="row">{{post.id}}</th>
    <th>{{post.userId}}</th>
    <td>{{post.title}}</td>
    <td>{{post.body}}</td>
    <td>
    <a [routerLink]="['/articles', post.id]" class="btn btn-primary">Read post </a>
    </td>
    </tr>
    </tbody>
    </table>
</div>